@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  background-size: cover;
  background-image: url(../assets/images/fondo-textura-papel-verde_1627-3021.avif);
}

.encabezado {
  display: flex;
  height: 30vh;
  width: 100%;
  background-image: url(../assets/images/portada\ plantas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  text-align: center;
}

.contenedor-logo {
  display: flex;
  max-width: 90%;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 20%;
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .encabezado {
    height: 20vh;
  }
  .logo {
    max-width: 30%;
  }
}
.navegacion {
  display: flex;
  align-items: center;
  border: solid 3px #032002;
  background-color: #1f691b;
  justify-content: space-around;
  text-align: center;
}

nav ul {
  display: flex;
  margin-right: 50px;
  text-align: center;
  width: 100vw;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  justify-content: space-around;
}

nav ul li a button {
  color: #CCF5AC;
  padding: 10px;
  margin: 2px;
  background-color: #59813a;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 1.5vw;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0f470d;
}

.menu-hamburguesa-nav {
  display: none; /* Ocultamos el contenedor por defecto */
}

.icono-nav {
  display: none; /* Ocultamos el ícono por defecto */
}

@media (max-width: 480px) {
  .navegacion {
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
  nav ul {
    display: none;
    width: auto;
    text-align: center;
  }
  nav ul li {
    justify-content: center;
    width: 100vw;
  }
  nav ul li a button {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
  }
  .menu-hamburguesa-nav {
    display: block; /* Mostramos el contenedor del menú hamburguesa */
    margin-top: 10px; /* Ajusta según necesites */
  }
  .icono-nav {
    display: block; /* Mostramos el ícono de la hamburguesa */
    font-size: 1.5rem; /* Ajusta el tamaño del ícono según necesites */
    cursor: pointer;
    color: #CCF5AC; /* Color del ícono */
  }
  .navegacion ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilo para los elementos de la lista */
  .navegacion ul.active li {
    margin: 2px 0;
  }
}
footer {
  display: flex;
  height: 30vh;
  align-items: center;
  background-color: #1f691b;
  background-size: auto;
  border: solid 3px #032002;
}

footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  text-align: start;
}

footer ul li {
  flex: 0;
  flex-direction: column;
  list-style-type: none;
}

footer ul li a .button-footer {
  color: #CCF5AC;
  padding: 5px;
  margin: 2px;
  background-color: #59813a;
  text-decoration: none;
}

.button-footer {
  font-weight: 400;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 1.5vw;
  transition: background-color 0.3s;
}

.button-footer:hover {
  background-color: #0f470d;
}

.contenedor-menu-hamburguesa {
  display: none; /* Ocultamos el contenedor por defecto */
}

.icon {
  display: none; /* Ocultamos el ícono por defecto */
}

.appicon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: end;
}

.app {
  display: flex;
  height: 25px;
  width: 25px;
  padding: 2px;
}

.conteiner-cop {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: end;
}

#copyright {
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
}

@media (max-width: 480px) {
  footer {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  footer ul {
    display: none;
    width: 100%;
    text-align: center;
  }
  footer ul li {
    width: 100vw;
    justify-content: center;
  }
  footer ul li a .button-footer {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
  }
  .appicon {
    justify-content: center;
  }
  .app {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .conteiner-cop {
    justify-content: center;
  }
  #copyright {
    font-size: 0.8rem;
  }
  /* este es el menu hamburguesa */
  .contenedor-menu-hamburguesa {
    display: block;
    /* Mostramos el contenedor del menú hamburguesa */
    margin-top: 10px;
    /* Ajusta según necesites */
  }
  .icon {
    display: block;
    /* Mostramos el ícono de la hamburguesa */
    font-size: 1.5rem;
    /* Ajusta el tamaño del ícono según necesites */
    cursor: pointer;
    color: #CCF5AC;
    /* Color del ícono */
  }
  footer ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilo para los elementos de la lista */
  footer ul.active li {
    margin: 2px 0;
  }
}
.div-container {
  display: flex;
  height: 55vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: left;
  align-items: center;
  text-align: center;
  filter: blur(0.5px);
  padding-left: 8vw;
}

.texto-container {
  display: flex;
  width: 70vw;
  height: 70%;
  color: #CCF5AC;
  background-image: url(../assets/images/fondo\ tierra.jpg);
  background-size: contain;
  border: solid 3px #4CAF50;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
  line-height: 1;
  padding: 10px;
  box-shadow: 2px 2px 20px 5px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

h1 {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  margin: 0;
}

/* GRID CONTEINER */
.contenedor-grid {
  display: grid;
  grid-template-areas: "articulo1 aside1" "articulo2 aside2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  gap: 10px;
  margin-top: 2rem;
}

/* PRIMER IMAGEN */
.articulo1 {
  margin-top: 2rem;
  grid-area: articulo1;
}

.contenedor-producto1 {
  height: 100%;
  width: 100%;
}

#producto1 {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* PRIMER PARRAFO  */
.aside1 {
  grid-area: aside1;
}

.contenedor-parrafo {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#parrafo1 {
  color: #000000;
  text-align: start;
  align-items: center;
  font-size: clamp(1.2rem, 2vw + 1rem, 3rem);
  margin: 0;
}

/* SEGUNDO PARRAFO */
.articulo2 {
  grid-area: articulo2;
}

.contenedor-parrafo2 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#parrafo2 {
  text-align: end;
  align-items: center;
  font-size: clamp(1.2rem, 2vw + 1rem, 3rem);
  margin: 0;
}

/* SEGUNDA IMAGEN */
.aside2 {
  margin-bottom: 2rem;
  grid-area: aside2;
}

.contenedor-producto2 {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#producto2 {
  margin-bottom: 120px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 480px) {
  .texto-container {
    width: 90vw;
    padding: 5px;
    font-size: 1rem;
    text-align: start;
    height: auto;
  }
  .contenedor-grid {
    grid-template-areas: "aside1" "articulo1" "articulo2" "aside2";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 5px;
  }
  .div-container {
    margin-top: 15px;
    padding-left: 2vw;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .articulo1 {
    display: flex;
    justify-content: center;
  }
  .contenedor-producto1 {
    height: 80%;
    width: 80%;
  }
  .aside2 {
    display: flex;
    justify-content: center;
  }
  .contenedor-producto2 {
    height: 80%;
    width: 80%;
  }
  #parrafo1,
  #parrafo2 {
    font-size: 1rem;
    text-align: center;
  }
}
.titulo-conteiner {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
  line-height: 1;
  padding: 10px;
  box-shadow: 2px 2px 20px 5px rgb(0, 0, 0);
}

.titulo {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #0b5208;
}

.plantas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 20px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.plantitas {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.plantitas img {
  width: 100%;
  background-color: white;
  border: none;
}

.info:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.1;
  border: none;
}

.nombre-planta {
  width: 100%;
  color: #111002;
}

.precio-planta {
  width: 100%;
  color: #111002;
}

@media (max-width: 768px) {
  .plantas {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .plantitas {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
